<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SaasExample</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <style>
    form { margin: 0px 10px; }

    h2 {
      margin-top: 2px;
      margin-bottom: 2px;
    }

    .container { max-width: 360px; }

    .divider {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 5px;
    }

    .divider hr {
      margin: 7px 0px;
      width: 35%;
    }

    .left { float: left; }

    .right { float: right; }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="panel panel-primary">
          <div class="panel-body">
            <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
            <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
            <%= render @view_module, @view_template, assigns %>
          </div>
        </div>
      </div>
    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
